@mixin alignCenter {
    display: flex;
    align-items: center;
}

.social-logo{
    flex-basis: 10%;
}

.social-header,
.social-logo {
    @include alignCenter();
}

.logo-img {
    width: 60px;
}

.social-user{
    @include alignCenter();
    margin-left: auto;
}

.search-input {
    width: 400px;
    background-color: none;
    border:none;
    outline: none;
}

.search-item__loop{
    width: 20px;
    max-width: 100%;
}

.social-notifications{
    margin-left: auto;
    border:1px solid gray;
    color:gray;
    opacity: 0.5;
    padding: 10px;
    border-radius: 50%;
}

.user-logo{
    width: 35px;
    margin:0 10px;
}