.navbar-section {
    float: left;
    padding-right: 5%;
}

.nav-items {
    padding: 0;
}

.nav-item {
    list-style-type: none;
    margin-bottom: 8%;
    &:hover {
        background-color: #e7e7e7bb;
        border-left: 3px solid #e7e7e7bb;
    }
    cursor: pointer;
}

.nav-text {
    font-family: "Open Sans";
    font-size: 16px;
}

.navbar__icon {
    flex-grow: 0.3;
}

.navbar-nav {
    background-color: #424e5c;
    opacity: 0.8;

    border-radius: 5%;
    min-width: 170px;
    padding: 20px;
    padding-left: 0;
}
